@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Proxima Nova";
    font-weight: 300;
    src: url(./assecc/fonts/ProximaNova-Light.woff) format("woff");
  };

  @font-face {
    font-family: "Proxima Nova";
    font-weight: 400;
    src: url(./assecc/fonts/ProximaNova-Regular.woff) format("woff");
  };

  @font-face {
    font-family: "Proxima Nova";
    font-weight: 500;
    src: url(./assecc/fonts/ProximaNova-Semibold.woff) format("woff");
  };

  @font-face {
    font-family: "Proxima Nova";
    font-weight: 700;
    src: url(./assecc/fonts/ProximaNova-Bold.woff) format("woff");
  };
};

@layer components {
  .container {
    @apply max-w-[1440px] w-full mx-auto px-2 lg:px-8 md:px-10
  }
}